include README.md
include requirements.txt
include pytest.ini
recursive-include templates *.html
recursive-include static *.css *.js *.png *.svg
recursive-include wordlists *.txt *.csv
recursive-include wordlists/keys *
